/*
*   MYNX Admin Theme
*   v1.1.16
*   29/09/2016
*/
body {
  font-family: 'Ubuntu';
  font-weight: 100;
}
.cms-header {
  border-bottom: solid 1px #752671;
  position: fixed;
  width: 100%;
  height: 76px;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
}
.cms-header input {
  display: none;
  border: none;
  font-size: 36px;
  font-family: 'Ubuntu';
  font-weight: 400;
  width: 400px;
  position: relative;
  top: -22px;
}
.cms-header input:focus {
  outline: none;
}
form {
  position: relative;
  z-index: 3;
}
.content {
  float: none;
  max-width: 840px;
  width: auto;
  position: relative;
  margin: 0 auto;
  padding-top: 100px;
}
.update-button {
  position: fixed;
  top: 0;
  right: 0;
}
.update-button input {
  color: #ffffff;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-size: 24px;
  line-height: 24px;
  padding: 26px 20px;
  font-family: 'Ubuntu';
  font-weight: 100;
  background-color: #752671;
}
.category-select {
  position: fixed;
  top: 76px;
  left: 0;
  width: 100%;
  background-color: #752671;
}
.category-select select {
  color: #ffffff;
  padding: 20px;
  -webkit-appearance: none;
  margin: 0;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  border: none;
  border-right: solid 1px #ffffff;
  background-color: #752671;
  outline: none;
  display: block;
  float: left;
}
.category-select input[type=text] {
  padding: 20px;
  margin: 0;
  background: transparent;
  border: none;
  border-right: solid 1px #ffffff;
  color: #ffffff;
  outline: none;
  display: block;
  float: left;
}
.category-select input[type=text]:disabled {
  background-color: black;
}
.category-select input[type=text]:disabled::-webkit-input-placeholder {
  color: black;
}
.category-select .show-page-options {
  margin: 0;
  cursor: pointer;
  color: #fff;
  padding: 20px;
  float: left;
  font-size: 12px;
}
.category-select .show-page-options img {
  padding-left: 20px;
}
.col,
.widget-col {
  float: left;
  padding: 0;
}
.widget-col {
  background-color: transparent;
}
.widget-col.template {
  display: none;
}
.col-25 {
  width: 25%;
}
.col-33 {
  width: 33%;
}
.col-50 {
  width: 50%;
}
.col-66 {
  width: 66%;
}
.col-75 {
  width: 75%;
}
.col-100 {
  width: 100%;
}
