/****** Object:  Table [dbo].[widgets]    Script Date: 06/07/2013 16:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[widgets](
	[widget_id] [int] IDENTITY(1,1) NOT NULL,
	[widget_name] [nvarchar](50) NOT NULL,
	[widget_text] [nvarchar](50) NULL,
	[widget_code] [nvarchar](max) NULL,
	[widget_type] [nvarchar](50) NULL,
 CONSTRAINT [PK_widgets_2] PRIMARY KEY CLUSTERED 
(
	[widget_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 06/07/2013 16:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_pass] [nvarchar](max) NOT NULL,
	[user_session] [nvarchar](max) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uploads]    Script Date: 06/07/2013 16:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uploads](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[filepath] [nvarchar](max) NOT NULL,
	[album] [nvarchar](50) NULL,
	[alt] [nvarchar](50) NULL,
 CONSTRAINT [PK_uploads2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[settings]    Script Date: 06/07/2013 16:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[settings](
	[settings_id] [int] NOT NULL,
	[current_theme] [nvarchar](50) NOT NULL,
	[block_sidebar] [int] NOT NULL,
	[block_toolbar] [int] NOT NULL,
	[block_footer] [int] NOT NULL,
	[sidebar_code] [nvarchar](max) NULL,
	[toolbar_code] [nvarchar](max) NULL,
	[footer_code] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[settings] ([settings_id], [current_theme], [block_sidebar], [block_toolbar], [block_footer], [sidebar_code], [toolbar_code], [footer_code]) VALUES (1, N'ajaxy', 1, 0, 0, N'<div class="content-box" style="">
<h2 style="">Welcome to <span style="">MYNX</span>.</h2>

<p style="">MYNX is a <b style="">user-experience focused</b>, <b style="">responsive</b> and <b style="">flexible</b> open-source Content Management System for ASP.Net and C#.</p>

</div>', N'', N'')
/****** Object:  Table [dbo].[pages]    Script Date: 06/07/2013 16:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[slug] [nvarchar](50) NOT NULL,
	[text] [nvarchar](max) NULL,
	[cat] [nvarchar](50) NULL,
 CONSTRAINT [PK_pages1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pages] ON
SET IDENTITY_INSERT [dbo].[pages] OFF
