<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <connectionStrings>
        <add name="mynxConnectionString" connectionString="Data Source=HWC-DEV-1\SQLEXPRESSR2;Initial Catalog=mynx;User ID=mynx_admin;Password=Mynx1234" providerName="System.Data.SqlClient" />
    </connectionStrings> 

    <system.web>
      <compilation debug="true" />
      <customErrors mode="Off" />
     </system.web>

     <appSettings>
        <add key="CuteWebUI.AjaxUploader.RewritePath" value="False" />
     </appSettings>

    <system.webServer>
        <modules>
          <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
        </modules>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>


        <rewrite>
          <rules>
            <rule name="Admin Home Rewriter">
              <match url="^admin/$" />
              <action type="Rewrite" url="admin/pages.aspx" />
            </rule>
            <rule name="Editor Rewriter">
              <match url="^admin/edit/([_0-9a-z-]+)" />
              <action type="Rewrite" url="admin/edit.aspx?page={R:1}" />
            </rule>            
            <rule name="Admin Rewriter">
              <match url="^admin/([_0-9a-z-]+)" />
              <action type="Rewrite" url="admin/{R:1}.aspx" />
            </rule>
            <rule name="Pagelist Rewriter">
              <match url="^pages/$" />
              <action type="Rewrite" url="pages.aspx" />
            </rule>         
            <rule name="Pagelist category Rewriter">
              <match url="^pages/([_0-9a-z-]+)" />
              <action type="Rewrite" url="pages.aspx?cat={R:1}" />
            </rule>                  
            <rule name="Rewriter">
              <match url="^([_0-9a-z-]+)$" />
              <action type="Rewrite" url="default.aspx?page={R:1}" />
            </rule>       
          </rules>
        </rewrite>

    </system.webServer>
</configuration>
