<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="mynxConnectionString" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="CuteWebUI.AjaxUploader.RewritePath" value="False"/>
  </appSettings>
  <system.webServer>
    <modules>
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
    </modules>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
        <add value="index.php"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Admin Home Rewriter">
          <match url="^admin/$"/>
          <action type="Rewrite" url="admin/pages.aspx"/>
        </rule>
        <rule name="Image Editor Rewriter">
          <match url="^admin/image/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="admin/image.aspx?image={R:1}"/>
        </rule>
        <rule name="Editor Rewriter">
          <match url="^admin/edit/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="admin/edit.aspx?page={R:1}"/>
        </rule>
        <rule name="Delete Rewriter">
          <match url="^admin/delete/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="admin/delete.aspx?page={R:1}"/>
        </rule>
        <rule name="Admin Rewriter">
          <match url="^admin/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="admin/{R:1}.aspx"/>
        </rule>
        <rule name="Pagelist Rewriter">
          <match url="^pages/$"/>
          <action type="Rewrite" url="pages.aspx"/>
        </rule>
        <rule name="Pagelist category Rewriter">
          <match url="^pages/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="pages.aspx?cat={R:1}"/>
        </rule>
        <rule name="Install rewriter">
          <match url="^install/$"/>
          <action type="Rewrite" url="install.aspx"/>
        </rule>
        <rule name="Login rewriter">
          <match url="^login/$"/>
          <action type="Rewrite" url="login.aspx"/>
        </rule>
        <rule name="Rewriter">
          <match url="^([_0-9a-z-]+)$"/>
          <action type="Rewrite" url="default.aspx?page={R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>