html, body {
	background-color: #FFFFFF;
	font-family: sans-serif;
}

a {
	color: #0000aa;
	text-decoration: none;
}

table {
	width: 100%;
	text-align: left;
}

th {
	padding-bottom: 10px;
	border-bottom: solid 1px #cdcdcd;
}