<%@ Master Language="C#" AutoEventWireup="true" %>

<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="/lib/cms.css"/>
		<link rel="stylesheet" href="/themes/ajaxy/ajaxy.css"/>
	</head>
	<style>
		body {
			padding: 0 20px;
			overflow: hidden;
			overflow-x: hidden;
			overflow-y: hidden;
		}
	</style>
	<body>
		<asp:ContentPlaceHolder id="content" runat="server">

		</asp:ContentPlaceHolder>
	</body>
</html>